.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.fight {
  height: 50px; /* Adjust the height as needed */
  width: auto;  /* Ensures the aspect ratio is preserved */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.con{
  display: flex;
  gap: 40rem;
}

.but-pr{

  align-content: center;
height: 60px;
width: 80px;
margin: auto;
}

.m-1:hover{
background-color: rgb(239, 239, 239);
}
.titlee{
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 350%;
}
.pp{
  text-align: center;
  font-size: larger;
  color:rgb(185, 19, 19);
}
.m-3{background-color: rgb(250, 70, 70);
color: white;
border-radius: 5px;
}
.m-3:hover{
  background-color: rgb(210, 62, 62);
}
.fight{
  border: 2px solid;
}